.info-card{
    padding: 0 1px;
}
.info-primary{
   background-color: #1cc7c1; 
}
.info-dark{
    background-color: #3A4256;
}
.info-container{
    height: 120px;
    padding: 40px;

}
.info-icon{
    font-size: 3em;
}
