
.calender{
    
    width: 450px;
    height: 350px;
    margin-left: 50px;
   
}
.bgChair{

    background-image:url('../../../assets/bg.png') ;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
